import init.${ro.hardware}.usb.rc
import init.${ro.hardware}.power.rc

on init
    mount debugfs /sys/kernel/debug /sys/kernel/debug mode=755

    write /sys/kernel/mm/transparent_hugepage/enabled "never"

    start watchdogd

on fs
    mount_all /vendor/etc/fstab.${ro.hardware}
    setprop ro.crypto.fuse_sdcard false

on post-fs

    chmod 0666 /dev/ion
    chmod 0666 /dev/graphics/fb0

on post-fs-data
    mkdir /data/media 0770 media_rw media_rw
    mkdir /data/misc/gatord 0700 root root

    restorecon_recursive /data/local/tmp/lava

on property:usb_speed.switch=high
    write /sys/kernel/debug/f72c0000.usb/config "0"

on property:usb_speed.switch=full
    write /sys/kernel/debug/f72c0000.usb/config "1"

on property:sys.user.0.ce_available=true
    mkdir /data/sec_storage_data 0700 system system
    mkdir /data/sec_storage_data_users 0700 system system

on property:sys.user.0.de_available=true
    mkdir /data/sec_storage_data 0700 system system
    mkdir /data/sec_storage_data_users 0700 system system 

service watchdogd /system/bin/watchdogd 10 20
    class core
    oneshot
    seclabel u:r:watchdogd:s0

service bugreport /system/bin/dumpstate -d -p -B -z \
    -o /data/user_de/0/com.android.shell/files/bugreports/bugreport
    class main
    disabled
    oneshot
